<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @allocation.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @allocation.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @allocation.category.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @allocation.account.name %>
</p>

<%= link_to 'Edit', edit_allocation_path(@allocation) %> |
<%= link_to 'Back', allocations_path %>
