<h1>Expenses Report</h1>

<div>
  <%= link_to('This month', this_month_path) %> | 
  <%= link_to('Last month', last_month_path) %> |
  <%= link_to('This year', this_year_path) %> |
  <%= link_to('All time', expenses_report_path) %>
</div>

<% if ( @start_date || @end_date ) %>
  <div><span>Showing expenses </span>
    <% if @start_date %>
      <span>from: <%= @start_date %> </span>
    <% end %>
    <% if @end_date %>
      <span>until: <%= @end_date %></span>
    <% end %>
  </div>
<% else %>
  <div><span>Showing all expenses</span></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |row| %>
      <tr>
        <td><%= row[0].name %></td>
        <td><%= row[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Expenses', expenses_path %>