<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @expense.account.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@expense.amount) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
